main {
  position: relative;
}

main .fragment-container.global-banner-container {
  padding: 0;
  margin: 0;
  background: transparent;
}

main .fragment-container.global-banner-container .section.global-banner-container:not([data-section-status="loaded"]) {
  display: none;
}

main .fragment-container .section.global-banner-container[data-section-status="loaded"] {
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: transparent;
  width: 100%;
}

main .block.global-banner:not([data-block-status="loaded"]) {
  display: none;
}

main .block.global-banner[data-block-status="loaded"] {
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  height: auto;
  text-align: center;
  width: 100%;
}

main .block.global-banner[data-block-status="loaded"].cyan-black { 
  color: var(--clr-black);
  background: linear-gradient(270deg, #00b9ff 0%, var(--turquoise) 50%, #00b9ff 100%);
  box-sizing: border-box;
}

.global-banner p {
  margin: 0 20px;
}

.global-banner a {
  color: white;
  line-height: 27px;
  text-decoration: underline;
  font-size: 1em;
}

.global-banner span.close {
  cursor: pointer;
  font-size: 48px;
  line-height: normal;
  position: relative;
  padding: 5px 50px 0 0;
  z-index: 2;
}

.static span.close {display: none}

main .block.global-banner[data-block-status="loaded"].static {
  justify-content: center;
  padding-top: 22px;
}

.global-banner.turquoise-center{
  background: linear-gradient(to right, #00B9FF 0%, var(--turquoise) 50%, #00B9FF 100%); 

  & a, >*{ 
  color: var(--black);
}
}

.global-banner.sling-blue{
  background: var(--sling-blue);
  
  & a, >*{ 
  color: var(--black)
}
}

.global-banner.orange-gradient {
  background: linear-gradient(to right, #FF6C01 0%, #FFAB01 70%, #FFED01 100%);
  
  & a, >*{ 
  color: var(--black)
}
}

.global-banner.turquoise-left{
  background: linear-gradient(to right, var(--turquoise) 0%, #00B9FF 100%);

  & a, >*{ 
  color: var(--black);
}
}

.global-banner.turquoise-left-vibrant{
  background: linear-gradient(to right, var(--turquoise) 0%, #00B9FF 50%, #0085FF 100%);

  & a, >*{ 
  color: var(--black);
}
}

.global-banner.white{
  background: var(--white);

  & a, >*{ 
  color: var(--black)
}
}

.global-banner.black{
  background: var(--black);

  & a, >*{ 
  color: var(--white);
}
}

.global-banner.accessible-blue-gradient {
  background: linear-gradient(to right, #00B9FF 0%, #0072EC 50%, #00B9FF 100%);

  & span.close {
    color: var(--black)
  }

  & p, a{ 
  color: var(--white);
}
}

.global-banner.accessible-turquoise-gradient  {
  background: linear-gradient(to right, var(--turquoise) 0%, #0072EC 30.33%, #0072EC 66.66%, var(--turquoise) 100%);

  & span.close {
    color: var(--black)
  }
  
  & p, a{ 
  color: var(--white);
}
}

.global-banner.accessible-blue  {
  background: var(--accessible-blue);

  & a, >*{ 
    color:var(--black)
  }
  }

main .block.global-banner[data-block-status="loaded"].cyan-black a{ 
  color: var(--clr-black);
}

.global-banner.blue-orange {
  background: var(--blue-to-orange);
}


