/* stylelint-disable selector-class-pattern */
.channel-shopper-container {
    text-align: center;
}

.channel-shopper-container p {
    margin: 0;
}

.channel-shopper.block {
    background: initial;
}

.channel-shopper.block > div:not([id]) p {
    display: none;
}

.channel-shopper.block #channel-shopper-app,
.channel-shopper.block #channel-shopper-app > * {
    z-index: 0;
    margin-top: 40px;
}

.channel-shopper.block #channel-shopper-app svg {
    width: 15px;
    height: 20px;
}

.channel-shopper.block #channel-shopper-app button {
    min-width: unset;
    margin-top: unset;
    margin-bottom: unset;
    background: var(--primary-button-color);
    border-radius: 1600px;
    border: transparent;
    font-size: 18px;
    line-height: inherit;
}

.channel-shopper.block #channel-shopper-app .channel-shopper__modal button:has(svg) {
    background: white;
}

#channel-shopper-app img {
    width: 60px;
}

.section.channel-shopper-container > div {
    width: 100%;
  }

  .section.columns-2.channel-shopper-container {
    padding: 0;
  }

@media (width >= 768px) {
    .section.columns-2.channel-shopper-container {
        display: flex;
        align-items: center;
    }

    .channel-shopper-container {
        text-align: unset;
    }

    .section.columns-2:has(.channel-shopper-wrapper) .column-2 {
        text-align:right;
        padding-right: 8%;
    }

    .section.columns-2:has(.channel-shopper-wrapper) .column-1 {
        padding-left: 8%;
    }
    
}
